<header class="fixed w-full bg-white shadow-md">
  <nav class="px-3 py-2  max-w-5xl mx-auto grid grid-flow-row gap-2">
    <div class="grid grid-cols-header items-center gap-4">
      <img class="brand-logo w-10 sm:w-16" src="/assets/logo.png" alt="Telekom Logo" />
      <h1 class="text-xl font-bold whitespace-nowrap">Hacker News</h1>
      <a id="search" class="search select-none justify-self-end grid gap-1 justify-end hover:cursor-pointer"
        (click)="storeService.toggleSearchShowing()">
        <img class="w-5" src="/assets/search.svg">
        <div class="text-xs sm:text-sm">Search</div>
      </a>
    </div>
    @if (storeService.searchShowing()) {
    <section id="section-search">
      <app-search></app-search>
    </section>
    }
  </nav>
</header>

<main class="pt-16 sm:pt-24 px-3 max-w-5xl mx-auto">
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>