<header class="fixed w-full bg-white shadow-md">
  <nav class="px-3 py-2 flex items-center gap-4 justify-between max-w-5xl mx-auto">
    <img class="brand-logo w-10 sm:w-16" src="/assets/logo.png" alt="logo" aria-hidden="true" />
    <h1 class="text-xl font-bold whitespace-nowrap">Hacker News</h1>
    <div class="search w-10 sm:w-16"></div>
  </nav>
</header>

<main class="pt-16 sm:pt-24 px-3 max-w-5xl mx-auto">
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>